/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background: #000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 5px 25px; /** add padding to make pretty */
    overflow: hidden;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/** header */
div, header, nav{
    border: solid 0px #000;
}


header{
    display:flex;
    margin-top: 15px;
}

.branding{
    width: 25%;
}


header nav#main{
    padding-top: 15px; /** better alignment **/
    display: flex;
    flex-flow: row nowrap;
    width: 75%;
    align-content: flex-end;
}

nav#main ul{
    display: flex;
    list-style: none;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;

}

nav#main ul a{
    text-decoration: none;
    color: black;

}
nav#main ul a:hover{
    text-decoration: underline;
    color: cadetblue;
    font-weight: bold;

}
.splash .img-holder{
    padding: 20px 0;
}
.splash .img-holder img{
    width: 100%;
    margin: 0 auto;
}


/** reason box holders **/
/**********************************************************************************************************************************
********************************************************************************************************************************/
/** section::reason **/
section#reasons{
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 1;
}

section#reasons .reason{

}

#about, #worktogether{
    padding: 0 15px 15px 15px;
    border-bottom: #000 dashed 2px;
    margin-bottom: 15px;
}
#worktogether{
    border: none; /* remove the border */
}

section#reasons div.reason{
  padding: 20px;
  margin-bottom: 40px; /** this adds padding on the bottom **/
}

/** broadcast inner div position controls **/
section#reasons > div.reason{
  display: flex;
  /** this makes the space between the colum row |[ ] -space- [ ]| adusting this allows you to add more in one row **/
  flex-basis: calc(30%); 
  justify-content: center;
  flex-direction: column; /** change to row see what happens **/
}


.detail div{} /** inner div padding ** no break ** not included in caluclation ** calc fails 


section#details{
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

section#details div.detail{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: dashed 1px #000;

}


section#details > div.detail{
  display: flex;
  flex-basis: 42%; 
  justify-content: center;
  flex-direction: column;
*/


/* simplified */
.detail img{ max-width: 100%; margin: 0 auto; box-shadow: -2px 2px 3px #333; border-radius: 7px; }
#details .detail div{     padding: 20px;
    border-bottom: dashed 2px #000; }
#details{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.detail{
  width: 49%;
}
.detail > div{
  margin:0 10px 10px 0;
}

.detail{  margin-bottom:  20px; }




.detail h3{
    font-weight: bold;
    padding-top: 15px;
}
.detail p{
    padding: 10px 0;
}

.detail button{
    width: 150px;
    background: #fff;
    border: solid 2px #333;
    padding: 10px 15px;
    border-radius: 10px;
    font-size:1em;
}


/** Boxes **/
/** BACKGROUND COLORS **/
.bg-teal{
    background: teal;
}
.bg-gold{
    background: gold;
}
.bg-cadetblue{
    background: cadetblue;
}
.bg-coral{
    background: coral;
}
.bg-crimson{
    background: crimson;
}
.bg-forestgreen{
    background: forestgreen;
}
.bg-darkorchid{
    background: darkorchid;
}
.bg-hotpink{
    background: hotpink;
}
.bg-indigo{
    background: indigo;
}
.bg-dodgerblue{
    background: dodgerblue;
}


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.detail-full{ width: 100%; padding: 25px; border-bottom:  solid 2px dashed; }
.form-group{ padding: 10px 0; }

.form-control{ width: 100%; padding: 7px; font-size: 14px; }


/** animations strecth **/
p {
  animation-duration: 3s;
  animation-name: bounce;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}